*{
  padding: 0;
  margin: 0;
  font-size: 23px;
}
.container{
  width: 100vw;
  padding: 0 10px;
  margin:0 auto;
  text-align: center;
}
button,
a{
  display: block;
  padding: 20px;
  margin: 20px;
  border: 2px solid lightseagreen;
  border-radius: 8px;
  text-decoration: none;
}
.next,
.next2{
  background: greenyellow;
}

.vision,
.vision2{
  background: yellow;
}

.hold{
  background: lightblue;
}

.holdWords{
  background: lightpink;
}

.word{
  width: 90%;
  padding: 20px 0;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  border: 2px solid lightseagreen;
}

.translate,
.sentence{
  background: rgba(221, 121, 090, .3);
}
.translate.hide,
.sentence.hide,
.sentence-translate.hide{
  color: transparent;

}

.buttons{
  display: flex;
  flex-direction: column;
}
